.HeroImage {
  height: 100px;
  width: auto;
}

h1 {
  font-size: 4rem;
  text-align: center;

}

p {
  background-color: black;
  opacity: 1;
  color: red;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
  padding: .5rem;
}

.MainPageSection {
  height: 1000px;
}
.Graphs {
  margin-top: -100px;
}