form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  opacity: .9;
  color: black;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 1rem;
  border: solid blue;
  padding-top: 10px;
}

legend {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

fieldset {
  border: none;
  text-align: center;

}

label {
  display: inline-block; 
  clear: left; 
  width: 90px; 
  margin:6px; 
  text-align: left; 
}

Button {
  font-weight: bold;
  border: solid red;
  border-radius: 4px;
}

@media screen and (max-width: 520px) {
  form {
    width:90%;
  }
}