.Header {
  height: 40px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.Header span {
  margin: 0px;
  font-size: 1.5rem;
}

.Header-NotLoggedIn {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
}

@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }

  /* .Header h1 {
    font-size: 22pt;
  } */
}