.Header {
  height: 26px;

  display: flex;
  align-items: normal;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.Header span {
  margin: 0px;
  font-size: 1.5rem;
}

.Header-NotLoggedIn {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
}

a { 
  text-decoration: none;
  color: black;
}

a:hover  {
  text-decoration: none;
  color: red;
}

@media screen and (min-width: 520px) {
  .Header {
    align-items: baseline;
  }

}