.bubbles-container {
  position: absolute;
  top: 0;
  left: 25%;
  width: 100%;
  max-width: 100rem;
  -webkit-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -o-transform: translateX(-30%);
  transform: translateX(-30%);
	opacity: 0.9;
  overflow: visible;
  z-index: -1;
}

.bubbles {
	width: 100%;
}


.bubbles-small {
  overflow: visible;
}

.bubbles-small > g {
  -webkit-transform: translateY(2048px);
  -ms-transform: translateY(2048px);
  -moz-transform: translateY(2048px);
  -o-transform: translateY(2048px);
  transform: translateY(2048px);
  will-change: transform, opacity;
}

.bubbles-small g:nth-of-type(1) image {
  animation: wobble 7.3s infinite ease-in-out;
}

@keyframes wobble {
  33% {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
  }

  66% {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
  }	
}

@keyframes up {
  0% {
    opacity: 0;
  }

  10%, 90% {
  	opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-124px);
    -ms-transform: translateY(-124px);
    -moz-transform: translateY(-124px);
    -o-transform: translateY(-124px);
  	transform: translateY(-124px);
  }
}